annotated-types==0.7.0 ; python_version == "3.12"
certifi==2025.8.3 ; python_version == "3.12"
influxdb-client==1.49.0 ; python_version == "3.12"
pydantic-core==2.33.2 ; python_version == "3.12"
pydantic==2.11.7 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-dotenv==1.1.1 ; python_version == "3.12"
reactivex==4.0.4 ; python_version == "3.12"
setuptools==80.9.0 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
typing-inspection==0.4.1 ; python_version == "3.12"
urllib3==2.5.0 ; python_version == "3.12"
