annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "3.13"
influxdb-client==1.48.0 ; python_version >= "3.12" and python_version < "3.13"
pydantic-core==2.33.1 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.11.3 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.1.0 ; python_version >= "3.12" and python_version < "3.13"
reactivex==4.0.4 ; python_version >= "3.12" and python_version < "3.13"
setuptools==78.1.0 ; python_version >= "3.12" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "3.13"
typing-inspection==0.4.0 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "3.13"
