annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "3.13"
certifi==2025.10.5 ; python_version >= "3.12" and python_version < "3.13"
influxdb-client==1.49.0 ; python_version >= "3.12" and python_version < "3.13"
pydantic-core==2.41.5 ; python_version >= "3.12" and python_version < "3.13"
pydantic==2.12.4 ; python_version >= "3.12" and python_version < "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "3.13"
python-dotenv==1.2.1 ; python_version >= "3.12" and python_version < "3.13"
reactivex==4.0.4 ; python_version >= "3.12" and python_version < "3.13"
setuptools==80.9.0 ; python_version >= "3.12" and python_version < "3.13"
six==1.17.0 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "3.13"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "3.13"
urllib3==2.5.0 ; python_version >= "3.12" and python_version < "3.13"
